{{#contentFor "scripts"}}
<script type="text/javascript">
  $(document).ready(function() {
    $('#create-payment-form').validate({
      submitHandler: function(form) {
        form.submit();
      }
    });

    {{#if params.currency}}
    $('#currency').val('{{params.currency}}');
    {{/if}}
  });
</script>
{{/contentFor}}

{{#if errors}}
  <div class="alert alert-danger"><ul>
  {{#each errors}}
    <li>{{this}}</li>
  {{/each}}
  </ul></div>
{{/if}}

<h1>Make Payment</h1>


<form id="create-payment-form" action="/create-payment" method="post" data-toggle="validator">
  <div class="row">
    <section class="col-md-6">
      <h3>Order Section</h3>
      <div class="form-group">
        <label for="customerName">Name</label>
        <input type="text" class="form-control" name="customerName" id="customerName" required placeholder="customer name" value="{{params.customerName}}">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Area Code - Phone Number</label>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <input type="tel" class="form-control" name="areaCode" id="areaCode" required placeholder="area code" value="{{params.areaCode}}">
        </div>
        <div class="col-md-6">
          <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" required placeholder="phone number" value="{{params.phoneNumber}}">
        </div>
      </div>
      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control" name="currency" id="currency" required>
          {{#each supportedCurrencies}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" min="0" class="form-control currency" name="price" id="price" required placeholder="price" value="{{params.price}}">
      </div>
    </section>
    <section class="col-md-6">
      <h3>Payment Section</h3>
      <div class="form-group">
        <label for="creditCardHolderName">Credit Card Holder Name</label>
        <input type="text" class="form-control" name="creditCardHolderName" id="creditCardHolderName" required  placeholder="credit card holder name" value="{{params.creditCardHolderName}}">
      </div>
      <div class="form-group">
        <label for="creditCardNumber">Credit Card Number</label>
        <input type="text" class="form-control" name="creditCardNumber" id="creditCardNumber" required placeholder="credit card number" value="{{params.creditCardNumber}}">
      </div>
      <div class="form-group">
        <label for="creditCardExpiration">Credit Card Expiration</label>
        <input type="text" class="form-control" name="creditCardExpiration" id="creditCardExpiration" required placeholder="mm/yyyy" value="{{params.creditCardExpiration}}">
      </div>
      <div class="form-group">
        <label for="creditCardCcv">Credit Card CCV</label>
        <input type="text" class="form-control" name="creditCardCcv" id="creditCardCcv" placeholder="credit card CCV" required value="{{params.creditCardCcv}}">
      </div>
    </section>
  </div> <!-- /.row -->

  <div class="row">
    <button class="pull-right btn btn-primary" type="submit">Submit</button>
  </div> <!-- /.row -->

</form>